.purple-btn {
  padding: 1.2rem 1rem 1rem 1rem;
  margin-top: 4rem;
  margin-bottom: 2.8rem;
  background-color: transparent;
  border: 1px solid $color-purple;
  font-family: 'Arciform';
  font-size: 2rem;
  color: $color-purple;
}